/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

div.container{
    height: 100vh;
    background: #ededed;
}

mat-card.main-card{
    margin: 20px;
    border-radius: 4px
}